<h2>Also popular:</h2>
<article>
  {{#each recommended }}
      <a href="/image/{{this.id}}">
        <picture>
          <source media="(min-width: 760px)" srcset="{{this.urls.regular}}">
          <source media="(min-width: 460px)" srcset="{{this.urls.small}}">
          <img src="{{this.urls.thumb}}" alt="{{this.alt_description}}" id="selectedImg" loading="lazy">
        </picture> 
      </a>
  {{/each}}
</article>
